#tabster-search-overlay {
  background-color: black;
  display: none;
  opacity: 0.90;
  max-width: 600px;
  height: 600px;
  padding: 10px;

  border-radius: 10px;

  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#tabster-search-overlay * {
  margin: 0 auto;
  margin: 10px;
  color: white !important;
}

#tabster-search-bar {
  width: 98%;
  display: block;
  background: white;
  font-size: 24px;
  border: 0;
  padding: 0;
  color: black !important;
}

#tabster-search-items {
  margin-top: 20px;
  list-style-type: none;
  overflow: auto;
  max-height: 500px;
}

#tabster-search-items li {
  color: white;
  padding: 10px;
  border-bottom: solid white 1px;
}

#tabster-search-items li img {
  float: left;
  width: 24px;
  height: 24px;
}

#tabster-search-items li:hover {
  cursor: pointer;
  background-color:#2457FF;
}

#tabster-search-items li h3 {
  font-size: 14px !important;
}

#tabster-search-items li span {
  font-size: 12px !important;
}
